$font-family-default: "Roboto Regular", "Open Sans Regular", "Arial Regular",
  sans-serif;

$sidebar-width: 300px;
$sidebar-width-collapsed: 60px;
$sidebar-width-collapsed-open: 240px;

$notification-height: 48px;
$header-min-height: 54px;

$brand-color: #46464c;
$brand-color-darker: #2a2a2f;
$body-background-color: #eee;

$text-color: #2c3642;
