// Variables
// --------------------------


$icons8-css-prefix: "icons8";
$icons8-font-name: "application";
$icons8-font-path: "../fonts";

$icons8-var-1h: "\f100";
$icons8-var-24h: "\f101";
$icons8-var-aso: "\f102";
$icons8-var-balance: "\f103";
$icons8-var-clock: "\f104";
$icons8-var-comment: "\f105";
$icons8-var-days: "\f106";
$icons8-var-delete: "\f107";
$icons8-var-description: "\f108";
$icons8-var-dollar: "\f109";
$icons8-var-dollar2: "\f10a";
$icons8-var-edit: "\f10b";
$icons8-var-exit: "\f10c";
$icons8-var-faq: "\f10d";
$icons8-var-geotarget: "\f10e";
$icons8-var-globus: "\f10f";
$icons8-var-graph: "\f110";
$icons8-var-home: "\f111";
$icons8-var-info: "\f112";
$icons8-var-mail: "\f113";
$icons8-var-menubars: "\f114";
$icons8-var-percent: "\f115";
$icons8-var-phone: "\f116";
$icons8-var-play: "\f117";
$icons8-var-rocket: "\f118";
$icons8-var-rocket-top: "\f119";
$icons8-var-skype: "\f11a";
$icons8-var-stats: "\f11b";
$icons8-var-success: "\f11c";
$icons8-var-tap: "\f11d";
$icons8-var-target: "\f11e";
$icons8-var-tracking-link: "\f11f";
$icons8-var-user: "\f120";
$icons8-var-users: "\f121";
$icons8-var-video: "\f122";
